# Production Environment Variables

# Server
SERVER_PORT=

# MySQL Datasource
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Mail Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# Payment API
PAG_API_URL=

# Infobip Configuration
INFOBIP_BASE_URL=
INFOBIP_API_KEY=
INFOBIP_WHATSAPP_SENDER=
INFOBIP_TEMPLATE_NAME=

# Discord Webhook
DISCORD_WEBHOOK_URL=

# AWS / S3
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_ENDPOINT=
STORAGE_S3_PATH=
AWS_S3_PATH_STYLE=
