RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=app_user
RABBITMQ_PASSWORD=app_password_123
RABBITMQ_VIRTUAL_HOST=/app

MESSAGING_RABBITMQ_ENABLED=false

PAG_URL=http://localhost:8081

INFOBIP_BASE_URL=https://xk4qx3.api.infobip.com
INFOBIP_API_KEY=a
INFOBIP_WHATSAPP_SENDER=a
INFOBIP_WHATSAPP_TEMPLATE_NAME=a

DISCORD_WEBHOOK_URL=a

STORAGE_LOCAL_DIR=imagens

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
