# App profile
SPRING_PROFILES_ACTIVE=prod

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=spring_api_system
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
DDL_AUTO=update

# Mail
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_mail_user
MAIL_PASSWORD=your_mail_password

# Integrations
PAG_API_URL=http://localhost:8081
INFOBIP_BASE_URL=https://xk4qx3.api.infobip.com
INFOBIP_API_KEY=your_infobip_api_key
INFOBIP_WHATSAPP_SENDER=your_whatsapp_sender
INFOBIP_TEMPLATE_NAME=authentication
DISCORD_WEBHOOK_URL=https://example.com/webhook

